@import '~antd/dist/antd.css';
@import "~normalize.css";
@import "colors_palette";
@import "grid";
@import "fonts.css";

body {
  font-family: Roboto;
}

#app {
  height: 100%;
}

.App {
  height: 100%;
  padding: 20px;
  background: url("../assets/img/bg.jpg") no-repeat center center / cover;
}

.page-route-block {
  height: 100%;
}

.page {
  height: 100%;
}