@import "../../styles/colors_palette";

.auth-wrapper {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background-color: $WHITE;
  box-shadow: $box-shadow;

  .google-button {
    width: 100%;
    margin-bottom: 20px;
  }

  .ant-form-item-control-input-content {
   .ant-btn {
     width: 100%;
   }
  }

  .bottom-message {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .ant-btn {
      margin-left: 10px;
    }
  }
  .ant-form-item {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-img {
    max-height: 120px;
  }
}